- var img = 'img/';

doctype
html
	include blocks/head.pug
		title
	include blocks/header.pug
	body
		.container
			section.start-page
				.breadcrumbs
					a(href="/") Главная
					p БДФ Кино
				h1.main-title БДФ Кино и БДФ Анимация
		section.kino-bdf
			.kino-bdf__group
				h2 Кураторы БДФ Кино
				.container-small
					.kino-bdf__item 
						h3 Сергей Безруков
						.flex 
							img(src=img+"about-bdf-2.png", alt="")
							p Художественный руководитель Московского Губернского театра, художественный руководитель Большого Детского фестиваля, народный артист РФ.
					.kino-bdf__item 
						h3 Антон Богданов
						.flex 
							img(src=img+"bdf-kino-2.png", alt="")
							p Актер театра и кино, режиссер. Окончил Пермский государственный институт искусства и культуры по специальности «режиссер массовых мероприятий» и New York Film Асademy по специальности «продюсирование кино и телевидения». В период обучения играл в КВН в составе команды «Степлер». Является официальным послом программы «Лыжи мечты» в Пермском крае, направленной на реабилитацию детей с ограниченными возможностями.
					.kino-bdf__item 
						h3 Николай Никулин
						.flex 
							img(src=img+"bdf-kino-1.png", alt="")
							p Журналист, кинокритик. Окончил Институт философии Российской Академии Наук и Институт журналистики и литературного творчества. Автор документальных фильмов «Квентин Тарантино. Профессиональный кинохулиган» (к 50-летию режиссера), «Один день из жизни философа» (о поэте, переводчике и философе Владимире Микушевиче) и др. Автор книг «Пока Фрейд спал. Энциклопедия человеческих пороков», «От братьев Люмьер до голливудских блокбастеров. Главное в истории кинематографа». Ведущий программы «В кадре» на телеканале Рен-ТВ. Ведет видеоблог «Кинокритик против».
			.kino-bdf__group
				h2 Куратор БДФ Анимация
				.container-small
					.kino-bdf__item 
						h3 Николай Никулин
						.flex 
							img(src=img+"bdf-kino-1.png", alt="")
							p Журналист, кинокритик. Окончил Институт философии Российской Академии Наук и Институт журналистики и литературного творчества. Автор документальных фильмов «Квентин Тарантино. Профессиональный кинохулиган» (к 50-летию режиссера), «Один день из жизни философа» (о поэте, переводчике и философе Владимире Микушевиче) и др. Автор книг «Пока Фрейд спал. Энциклопедия человеческих пороков», «От братьев Люмьер до голливудских блокбастеров. Главное в истории кинематографа». Ведущий программы «В кадре» на телеканале Рен-ТВ. Ведет видеоблог «Кинокритик против».
			.container-small
				p Ежегодно БДФ представляет на своих площадках разнообразие форматов и жанров искусства, направленных на детскую и подростковую аудиторию. Конкурсную программу фестиваля, помимо театра, составляет кино- и анимационные фильмы для детей.
				p Идея фестиваля — собрать в своей программе все лучшее, что создано для детей и юношества в различных жанрах перформативного искусства за последние два года; обратить внимание на необходимость развивать детский кинематограф и анимацию, создавать новые произведения, адресованные детям разного возраста.
				p Программу фестиваля составляют лучшие художественные фильмы, рассчитанные на детей и подростков, а также анимационные фильмы от ведущих киностудий страны: «Союзмультфильм», «Снега», «Пчела», «А-фильм» и др.
				a.btn(href="#" class="default-btn") шорт-лист
				p
					b По итогам фестиваля детско-юношеское жюри фестиваля определяет победителей в следующих номинациях:
				ul.list
					li 
						span «Лучший художественный фильм для детей в младшей возрастной категории»
					li 
						span «Лучший художественный фильм для детей в старшей возрастной категории»
					li 
						span «Лучший анимационный фильм для детей. Короткий метр»
					li 
						span «Лучший анимационный фильм для детей. Полный метр»
				.kino-bdf__block 
					p
						b По всем вопросам вы можете связаться с куратором фестиваля
					p.m-top-20 Юлия Чиркова
					p 
						b Телефон:
						a(href="tel:+74997869215") +7 (499) 786-92-15
					p 
						b E-mail: 
						a(href="mailto:fest@grandkidsfest.ru") fest@grandkidsfest.ru

	include blocks/footer.pug
	include blocks/scripts.pug