- var img = 'img/';

doctype
html
	include blocks/head.pug
		title
	include blocks/header.pug
	body
		.container
			section.start-page
				.breadcrumbs
					a(href="/") Главная
					p «Пушкинская карта»
				h1.main-title «Пушкинская карта»
		section.pushkinskaya-karta
			.container-small
				h2 Большой Детский фестиваль принимает участие в программе «Пушкинская карта»
				p 1 сентября 2021 года стартовала новая культурная программа «Пушкинская карта». С ее помощью молодые люди в возрасте от 14 до 22 лет могут приобретать билеты в театры, музеи и концертные залы, галереи и др.
				p «Пушкинская карта» — это специальная банковская карта для молодежи, которой можно расплачиваться только при покупке билетов на культурные мероприятия. Пластиковую карту можно оформить в любом отделении Почты Банка. Зарегистрировать виртуальную карту можно на портале «Госуслуги». Деньги на счёт таких карт будет направлять государство. В 2021 году лимит по Пушкинской карте составил 3 тыс. рублей. С 1 января 2022 каждому владельцу карты программы «Пушкинская карта» начислено 5 тыс. рублей.
				a.btn(href="https://www.culture.ru/pushkinskaya-karta" target="_blank") подробнее о «Пушкинской карте»
				h3 В 2022 году в программу вошли следующие спектакли-участники «ЭХО БДФ» в Архангельске
				ul 
					li 
						p 
							a(href="#") «Маленький принц» 
							span Площадка – Архангельский театр драмы им. М. В. Ломоносова
					li 
						p 
							a(href="#") «Вафельное сердце»
							span Площадка – Архангельский театр кукол
					li 
						p 
							a(href="#") «Русалочка»
							span Площадка – Архангельский театр кукол
					li 
						p 
							a(href="#") «Полонез Огинского»
							span Площадка – Архангельский театр кукол
					li 
						p 
							a(href="#") «Умееешь ли ты свистеть, Йоханна»
							span  Площадка – Архангельский театр драмы им. М. В. Ломоносова
					li 
						p 
							a(href="#") «Малыш и Карлсон»
							span Площадка - Северодвинский театр драмы
					li 
						p 
							a(href="#") «Мио, мой Мио»
							span Площадка - Архангельский театр драмы им. М. В. Ломоносова
					li 
						p 
							a(href="#") «Малыш и Карлсон»
							span Площадка - Архангельский театр драмы им. М. В. Ломоносова
							
				h3 В 2021 году в программу вошли следующие спектакли-участники IV Большого Детского фестиваля
				ul 
					li 
						a(href="#") «DARK»
					li 
						a(href="#") «Тараканы»
					li 
						a(href="#") «Байки с Бейкер-стрит»
					li 
						a(href="#") «Хармс»
					li 
						a(href="#") «Пиковая дама»
					li 
						a(href="#") «Сотников»
					li 
						a(href="#") «Гамлет»
					li 
						a(href="#") «Тео возвращается домой»
					li 
						a(href="#") «Дидона и Эней»
					li 
						a(href="#") «Дневник кота-убийцы»
					li 
						a(href="#") «Приключения Тома Сойера»

			.container-medium
				img(src=img+"karta-push.png", alt="")

	include blocks/footer.pug
	include blocks/scripts.pug