.pushkinskaya-karta
    margin-top: 40px
    padding-bottom: 150px
    +mq($max-width: 575px)
        margin-top: 30px
        padding-bottom: 100px
    .container-small, .container-medium
        +mq($max-width: 575px)
            padding: 0 20px
    h2
        font-family: 'Hagrid'
        font-style: normal
        font-weight: 500
        font-size: 22px
        line-height: 130%
        text-align: center
        color: #000000
        margin-bottom: 30px
        +mq($max-width: 575px)
            font-size: 16px
            margin-bottom: 20px

    h3
        font-family: 'BebasNeue'
        font-style: normal
        font-weight: 700
        font-size: 26px
        line-height: 110%
        color: #000000
        margin-bottom: 20px
        +mq($max-width: 575px)
            font-size: 16px
    ul
        display: flex
        flex-direction: column
        gap: 20px
        margin-bottom: 30px
        +mq($max-width: 575px)
            gap: 10px
        li
            a
                color: #2D7ABF
                font-weight: 700
                font-size: 18px
                line-height: 130%
                +mq($max-width: 575px)
                    font-size: 14px
            p
                font-weight: 600
                font-size: 18px
                line-height: 130%
                +mq($max-width: 575px)
                    font-size: 14px
                a
                    color: #2D7ABF
                    font-weight: 700

    p
        font-weight: 600
        font-size: 18px
        line-height: 130%
        color: #000000
        margin-bottom: 10px
        +mq($max-width: 575px)
            font-size: 14px
    .btn
        background: #FFFFFF
        border: 1px solid #E50054
        border-radius: 30px
        max-width: 348px
        height: 47px
        font-weight: 700
        font-size: 12px
        line-height: 15px
        text-align: center
        letter-spacing: 0.1em
        text-transform: uppercase
        color: #000000
        margin: 70px auto
        position: relative
        &:hover
            background: #E50054
            color: white
        +mq($max-width: 575px)
            max-width: fit-content
            padding: 0 25px
            height: 37px
            font-size: 10px
            line-height: 13px
            margin: 50px auto

    img
        width: 100%
        margin-top: 20px
        +mq($max-width: 575px)
            border-radius: 20px
            margin-top: 0
